@import 'variable';

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    padding: 15px 30px;
    color: #888;

    .row-top__original {
        width: 100%;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            list-style-type: none;

            li {
                position: relative;
                font-size: 0.9rem;
                font-weight: bold;

                a {
                    text-decoration: none;
                    color: unset;
                    transition: color 0.2s ease-in-out;
                }

                a:hover {
                    color: #FFF;
                }

                button {
                    border: none;
                    outline: none;
                    background-color: transparent;
                    color: unset;
                    font-size: unset;
                    font-weight: unset;
                    cursor: pointer;
                    transition: color 0.2s ease-in-out;

                    .fa-angle-down {
                        transform: translateY(2px);
                    }
                }

                button:hover {
                    color: #FFF;
                }

                .langs__options {
                    display: none;
                    position: absolute;
                    top: -1520%;
                    left: -60%;
                    padding: 15px 0;
                    width: 150px;
                    border: 1px solid rgba(0, 0, 0, 0.8);
                    background-color: #FFF;
                    border-radius: 5px;

                    ul {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        li {
                            display: flex;
                            width: 100%;

                            a {
                                width: 100%;
                                color: #888;
                                padding: 5px 15px;
                                font-size: 0.8rem;
                            }

                            a:hover {
                                background-color: rgba(0, 0, 0, 0.1);
                            }
                        }
                    }

                    .pointer__langs {
                        position: absolute;
                        bottom: -8px;
                        right: 15px;
                        width: 15px;
                        height: 15px;
                        transform: rotate(45deg);
                        background-color: #FFF;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
                        border-right: 1px solid rgba(0, 0, 0, 0.8);
                    }
                }

                .langs__options.show {
                    display: block;
                }
            }
        }
    }

    .row-bottom__clone {
        display: none;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;

            li {
                margin-right: 20px;
                font-weight: bold;

                a {
                    color: #888;
                    text-decoration: none;
                    font-size: 0.9rem;
                    transition: color 0.2s ease-in-out;
                }

                a:hover {
                    color: #FFF;
                }
            }
        }
    }

    .socials__container {
        white-space: nowrap;
        margin-left: 2%;

        a {
            font-size: 1.4rem;
            margin: 0 20px;
            color: #888;
            transition: color 0.2s ease-in-out;
        }

        a:hover {
            color: #FFF;
        }
    }
}