@import 'variable';

header {
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, .25);
    
    .logo {

        a {
            text-decoration: none;

            img {
                width: 100px;
            }
        }
    }

    .search {
        @include flexbox;
        width: 100%;
        opacity: .75;
        padding: 2px 5px;
        border-radius: 2px;
        margin: 0 10%;
        background-color: #FFF;
        transition: opacity 0.3s ease-in-out;

        label {
            margin: 5px;
            cursor: pointer;

            .fa-search {
                font-size: 1.2rem;
                color: #666;
            }
        }

        input {
            width: 100%;
            border: none;
            outline: none;
            margin: 0 5px;
        }

        input[type=search]::-webkit-search-cancel-button  {
            appearance: none;
        }
    }

    .search.show {
        display: flex;
    }

    .login-sign__Container {
        @include flexbox;

        .search-icon__open {
            display: none;
            margin: 0 10px;
            transform: translateY(2px);

            button {
                border: none;
                outline: none;
                background-color: transparent;
                color: #FFF;
                font-size: 1.2rem;
                cursor: pointer;
            }

            #close-search {
                display: none;
            }
        }

        .ls {
            margin: 0 10px;

            a {
                white-space: nowrap;
                text-decoration: none;
                color: unset;
                font-size: 0.9rem;
            }
        }

        .login a {
            color: #FFF;
        }

        .sign a {
            padding: 8px 20px;
            border-radius: 3px;
            color: #000;
            font-weight: bold;
            background-color: #FFF;
            transition: color 0.2s ease-in-out;
        }

        .sign a:hover {
            color: #888;
        }
    }
}