@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'variable';
@import 'header';
@import 'content';
@import 'footer';
@import 'responsive';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}